<p>test works!</p>

<form [formGroup]="myForm" novalidate (ngSubmit)="submit()">
  <div class="form-group">
      <label>Имя</label>
      <input class="form-control" name="name" formControlName="userName" />

      <div class="alert alert-danger"
          *ngIf="myForm.controls['userName'].invalid && myForm.controls['userName'].touched">
          Не указано имя
      </div>
  </div>
  <div class="form-group">
    <label>Фамилия</label>
    <input class="form-control" name="surname" formControlName="userSurname" />

    <div class="alert alert-danger"
        *ngIf="myForm.controls['userSurname'].invalid && myForm.controls['userSurname'].touched">
        Не указана фамилия
    </div>
</div>
  <div class="form-group">
      <label>Email</label>
      <input class="form-control" name="email" formControlName="userEmail" />

      <div class="alert alert-danger"
          *ngIf="myForm.controls['userEmail'].invalid && myForm.controls['userEmail'].touched">
          Некорректный email
      </div>
  </div>
  <div class="form-group">
      <label>Личный телефон</label>
      <input class="form-control" name="personalphone" formControlName="personalPhone" />
      <div class="alert alert-danger"
          *ngIf="myForm.controls['personalPhone'].invalid && myForm.controls['personalPhone'].touched">
          Некорректный номер телефона
      </div>
  </div>
  <div class="form-group">
    <label>Мобильный телефон</label>
    <input class="form-control" name="mobilePhone" formControlName="mobilePhone" />
    <div class="alert alert-danger"
        *ngIf="myForm.controls['mobilePhone'].invalid && myForm.controls['mobilePhone'].touched">
        Некорректный номер телефона
    </div>
</div>
  <div class="form-group">
      <button class="btn btn-default" [disabled]="myForm.invalid">
          Отправить
      </button>
  </div>
</form>
<pre>
  {{myForm.value | json}}
</pre>
